<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ViteBackendIntegrationPoC</title>
    @* 
        VITE

        Files in the public directory are served at the root path.
        Instead of /public/favicon.ico, use /favicon.ico.
    *@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    @*
        See https://vite.dev/guide/backend-integration.

        We do not use https://github.com/Eptagone/Vite.AspNetCore.
        It is overkill for a SPA backend with no Razor Views left.

        From the Vue build output assets "./dist/index.html"
        (note the different location - head vs. body - here):

        <head>
            <!-- ... -->
            <script type="module" crossorigin src="/assets/index-Xxls1TsY.js"></script>
            <link rel="stylesheet" crossorigin href="/assets/index-BoE9XZTb.css">
        </head>
    *@
    @if (!Program.UseViteDevServer)
    {
        <script type="module" crossorigin src="~/@Manifest.EntryPoint"></script>
        @foreach (var stylesheet in Manifest.Stylesheets)
        {
            <link rel="stylesheet" crossorigin href="~/@stylesheet" />
        }
    }
</head>

<body>
    @RenderBody()
    <div id="app"></div>
    @*
        From the static Vue template "./index.html"
        (note the reference to "main.ts", not "main.js"):

        <body>
            <div id="app"></div>
            <script type="module" src="/src/main.ts"></script>
        </body>
    *@
    @if (Program.UseViteDevServer)
    {
        <script type="module" src="@Program.ViteDevServerUrl/@@vite/client"></script>
        <script type="module" src="@Program.ViteDevServerUrl/src/main.ts"></script>
    }
</body>

</html>
