<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ViteBackendIntegrationPoC</title>
    @* 
        VITE

        Files in the public directory are served at the root path.
        Instead of /public/favicon.ico, use /favicon.ico.
    *@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    @*
        See https://vite.dev/guide/backend-integration.

        We do not use https://github.com/Eptagone/Vite.AspNetCore.
        It is overkill for a SPA backend with no Razor views left.

        From the Vue build output assets "./dist/index.html"
        (note the different location - head vs. body - here):

        Please note also: "The defer attribute has no effect on module scripts
        - they defer by default."
        https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#defer

        <head>
            <!-- ... -->
            <script type="module" crossorigin src="/assets/index.js"></script>
            <link rel="stylesheet" crossorigin href="/assets/index.css">
        </head>
    *@
    @if (!DevServer.Use)
    {
        var (src, hrefs) = Manifest.Record;
        <script type="module" src="~/@src"></script>
        @foreach (var href in hrefs)
        {
            <link rel="stylesheet" href="~/@href" />
        }
    }
</head>

<body>
    @RenderBody()
    <div id="app"></div>
    @*
        From the static Vue template "./index.html" and the VITE dev server
        (note the reference to "main.ts", not "main.js"):

        <body>
            <div id="app"></div>
            <script type="module" src="/src/main.ts"></script>
        </body>
    *@
    @if (DevServer.Use)
    {
        <script type="module" src="@DevServer.Url/@@vite/client"></script>
        <script type="module" src="@DevServer.Url/src/main.ts"></script>
    }
</body>

</html>
