<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ViteBackendIntegrationPoC</title>
    @* 
        VITE

        Files in the public directory are served at the root path.
        Instead of /public/favicon.ico, use /favicon.ico.
    *@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>

<body>
    @RenderBody()
    <div id="app"></div>
    <environment include="Development">
        <script type="module" src="http://localhost:5173/@@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/main.ts"></script>
    </environment>
    <environment exclude="Development">
        @* TODO: Do this dynamically! *@
        <link rel="stylesheet" href="~/assets/main-5dJgFXHu.css" />
        <script type="module" src="~/assets/main-BEanKvfY.js"></script>
    </environment>
</body>

</html>
