<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ViteBackendIntegrationPoC</title>
    @* 
        VITE

        Files in the public directory are served at the root path.
        Instead of /public/favicon.ico, use /favicon.ico.
    *@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>

<body>
    @RenderBody()
    <div id="app"></div>
    @* TODO: Change this to "include" and use "Local"... *@
    <environment exclude="Development">
        <script type="module" src="http://localhost:5173/@@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/main.ts"></script>
    </environment>
    @* TODO: Change this to "exclude" and use "Local"... *@
    <environment include="Development">
        @foreach (var css in Manifest.Css)
        {
            <link rel="stylesheet" href="~/@css" />
        }
        <script type="module" src="~/@Manifest.File"></script>
    </environment>
</body>

</html>
