<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ViteBackendIntegrationPoC</title>
    @* 
        VITE

        Files in the public directory are served at the root path.
        Instead of /public/favicon.ico, use /favicon.ico.
    *@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>

<body>
    @RenderBody()
    @*
        From the generated Vue template "index.html".

        Note the reference to "main.ts", not "main.js"!

        <body>
            <div id="app"></div>
            <script type="module" src="/src/main.ts"></script>
        </body>
    *@
    <div id="app"></div>
    @*
        See https://vite.dev/guide/backend-integration.

        We do not use https://github.com/Eptagone/Vite.AspNetCore.
        It is overkill for a SPA backend with no Razor Views left,
        and we have the necessary infrastructure like YARP anyway.
    *@
    @* TODO: Use "Local"... *@
    <environment include="Development">
        <script type="module" src="http://localhost:5173/@@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/main.ts"></script>
    </environment>
    @* TODO: Use "Local"... *@
    <environment exclude="Development">
        @foreach (var stylesheet in Manifest.Stylesheets)
        {
            <link rel="stylesheet" href="~/@stylesheet" />
        }
        <script type="module" src="~/@Manifest.EntryPoint"></script>
    </environment>
</body>

</html>
