<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ViteBackendIntegrationPoC</title>
    @* 
        VITE

        Files in the public directory are served at the root path.
        Instead of /public/favicon.ico, use /favicon.ico.
    *@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>

<body>
    @RenderBody()
    <div id="app"></div>
    @* TODO *@
    <environment exclude="Development">
        <script type="module" src="http://localhost:5173/@@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/main.ts"></script>
    </environment>
    @* TODO *@
    <environment include="Development">
        @using (var manifest = JsonDocument.Parse(File.ReadAllText("./vue-project/dist/.vite/manifest.json")))
        {
            var main = manifest.RootElement.GetProperty("src/main.ts");
            @foreach (var css in main.GetProperty("css").EnumerateArray())
            {
                <link rel="stylesheet" href="~/@css" />
            }
            <script type="module" src="~/@main.GetProperty("file")"></script>
        }
    </environment>
</body>

</html>
